<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--Iconos-->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet" />
          <!--Fuente-->
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
          <!--CSS-->
          <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen" />
          <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
          <link href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.16.1/mercadolibre/favicon.svg" rel="icon" type="image/x-icon" />
    <title>Document</title>
</head>
<body>

    <header>
        <div class="header-769">
            <div class="header-logo-barra-celu-tablet">
                <div class="logo">
              <img src="./images/logo-mercado-liebre.svg" alt="Logo">
            </div>
            <div class="barra-lupa">
                <form action="#">
              <input class="w3-input w3-border w3-round" type="text" placeholder="Buscar Productos">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            </div>
        </div>
        
        <div class="contenedor-slogan w3-margin-bottom w3-margin-top">
        <i class="fas fa-hand-holding-usd"></i><p class="slogan">Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
    </div>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Créa tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/login" >Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>
    
    <main>
    <form action="/" method="GET">
        <input class="w3-input w3-border w3-round w3-margin-top" type="text" id="nombredeusuario" name="nombredeusuario" placeholder="Nombre de Usuario">   
        <input class="w3-input w3-border w3-round w3-margin-top" type="password" id="contraseña" name="contraseña" placeholder="Contraseña">
        <div class="w3-center w3-margin-top">
        <div class="w3-bar">
        <button class="w3-btn w3-round-xlarge w3-green w3-hover-theme">Ingresar</button>
        </div>
        </div>
    </form>

</main>
    
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="w3-margin-top">
    <div>
    <article>
        <i class="fas fa-credit-card"></i>
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article>
        <i class="fas fa-gift"></i>
        <p><strong>Envío gratis desde $ 2.500</strong></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article>
        <i class="fas fa-user-shield"></i>
        <p><strong>Seguridad, de principio a fin</strong></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </article>
</div>
    <article class="Copyright">
        <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L</strong></p>
    </article>
</footer>
</body>
</html>